/**
 * Информация о производительности
 */

.ls-performance {
    margin: 20px;
    padding: 20px;
}
.ls-performance table {
    width: 100%;
}
.ls-performance td {
    vertical-align: top;
}
.ls-performance h4 {
    font-weight: bold;
    font-size: 14px;
}