/**
 * Список файлов
 */
.ls-uploader-file-list {
    min-height: 30px;
    overflow: auto;
}

/* Responsive */
@media (max-width: 999px)  {
    .ls-uploader-file-list {
        margin: 15px 0 0;
    }
}