/**
 * Загрузка и управление файлами
 */

/* Пустой список */

.uploader.is-empty .uploader-wrapper {
	
}


/**
 * Обертка
 */
.uploader-wrapper {
	min-height: 150px;
}


/**
 * Содержимое
 */
.uploader-content {
	margin-right: 320px;
}


/**
 * Фильтр
 */
.actionbar.uploader-filter {
	background: transparent;
	padding: 0;
	overflow: hidden;
}
.actionbar.uploader-filter:after {
	clear: none;
}


/**
 * Сайдбар
 */
.uploader-aside {
	width: 300px;
	float: right;
}
.uploader-aside-empty {
	display: none;
}

.uploader-aside.is-empty .uploader-aside-empty { display: block; }
.uploader-aside.is-empty .uploader-aside-blocks { display: none; }

/* Responsive */
@media (max-width: 999px)  {
	.uploader-aside {
		width: auto;
		float: none;
	}
}

/**
 * Block
 */
.block.uploader-block {
	border: 1px solid #eee;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 0;
}
.block.uploader-block:first-child {
	margin-top: 0;
}

/**
 * Modal
 */
.modal--uploader {
	max-width: 850px;
}