/**
 * Список с информацией
 */
.ls-info-list                 { margin-bottom: 20px; list-style: none; padding: 0; }
.ls-info-list:last-child      { margin-bottom: 0; }
.ls-info-list-item            { margin-bottom: 5px; overflow: hidden; }
.ls-info-list-item:last-child { margin-bottom: 0; }
.ls-info-list-item-label      { opacity: .6; float: left; width: 130px; }
.ls-info-list-item-content    { font-weight: normal; }