/**
 * Кроп изображений
 */

.crop {
    text-align: center;
}

.crop-image-holder {
    margin-right: 10px;
}
.crop-image-holder, .crop-previews {
    display: inline-block;
    vertical-align: top;
}
.crop-preview {
    overflow: hidden;
    margin-bottom: 15px;
}

/**
 * Модальное окно
 */
.ls-modal--crop {
    max-width: 550px;
}
.ls-modal--crop .ls-modal-footer {
    text-align: center;
}
.ls-modal--crop .crop-desc {
    margin-bottom: 20px;
}